* {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 12px;
}

div, span {
	margin: 2px;
	padding: 2px;	
}

button {
	margin: 0;
	padding: 4px;
}

table {
	border: 0;
	padding: 0;
	margin: 0;
}

.prop-time,
.resource-labor, .resource-gold, .resource-wood, .resource-crop, .resource-iron,
.combat-attack, .combat-defend, .combat-left, .combat-right
 {
	display: inline-block;
 	position: relative;
	top: 3px;
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0;
	padding: 0;
	margin-left: 2px;
	margin-right: 8px;
}

.combat-attack {
	margin-left: 10px;
	margin-right: 10px;
	background: url('img/attack.png')
}

.combat-defend {
	margin-left: 10px;
	margin-right: 10px;
	background: url('img/defend.png')
}

.combat-left {
	margin-left: 10px;
	margin-right: 10px;
	background: url('img/left.png')
}

.combat-right {
	margin-left: 10px;
	margin-right: 10px;
	background: url('img/right.png')
}

.prop-time {
	background: url('img/resources/clock.png')
}

.resource-labor {
	background: url('img/resources/labor.png')
}

.resource-gold {
	background-image: url('img/resources/gold.png')
}

.resource-wood {
	background-image: url('img/resources/wood.png')
}

.resource-crop {
	background-image: url('img/resources/crop.png')
}

.resource-iron {
	background-image: url('img/resources/iron.png')
}

.cost {
	border: 0;
	padding: 0;
	margin: 0;
}


#battle {
	width: 850px;
}

.unit_stack {
	line-height: 30px;
	display: inline-block;
	border: solid 1px black;
}

.unit_stack_image {
	height: 24px;
	vertical-align: middle;
}

.unit_stack_text {
	height: 100%;
	vertical-align: middle;
}

.unit_stack_loss {
	height: 16px;
	line-height: 14px;
	display: inline-block;
}

.unit_stack_loss_image {
	height: 16px;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: middle;
}

.unit_stack_loss_text {
	height: 100%;
	vertical-align: middle;
}

.unit_stack_list_container {
	position: relative;
	height: 100px;
	width: 100%;
	border: 1px solid black;
}

.unit_stack_list_summary {
	height: 20px;
	font-size: 11px;
}


.unit_stack_list {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#battle_log {
	border: 1px solid black;
	width: 100%;
	height: 200px;
	overflow: auto;
	text-align: center;
}

#army_dialog {
	z-index: 2;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 750px;
	height: 450px;
	margin-left: -375px;
	margin-top: -225px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
}

#army_dialog_army_unit_list {
	vertical-align: top;
	float: right;
	text-align: right;
	width: 280px;
	height: 400px;
	overflow: auto;
}

#army_dialog_cost {
}

#army_dialog_upkeep {
}

#army_dialog_available_unit_list {
	text-align: left;
}

#army_dialog_available_structure_list {
	display: none;
	text-align: left;
}

.army_available_unit_container {
	position: relative;
	display: inline-block;
	border: solid 1px black;
	padding: 1px;
	margin: 1px;
	height: 70px;
	width: 80px;
}

.army_available_unit {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
}

.army_available_unit_image {
	height: 40px;
}

.army_added_unit {
	cursor: pointer;
}

#army_add_dialog {
	z-index: 3;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 450px;
	height: 250px;
	margin-left: -225px;
	margin-top: -125px;
	padding: 5px;
	border: 1px solid black;
	background-color: white;
}

#army_add_dialog_unit_name {
	font-weight: bold;
}

.log_round_header {
	font-size: 13px;
	font-weight: bold;
}

.log_line {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
}
.log_damage {
}

.log_defeat {
	color: red;
}

.log_unit_image {
	height: 32px;
	vertical-align: middle;
}

#fullscreen_modal_background {
	z-index: 1;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	background-color: black;
	opacity: 0.5;
}